Source: mp
Section: utils
Priority: optional
Maintainer: Prokopchuukk<prokopchu.u.k.k@gmail.com>
Standards-Version: 4.5.1
Build-Depends: build-essential, debhelper (>=9)

Package: mp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple program that prints "Hello, World!" to the console.
