Source: mp
Section: utils
Priority: optional
Maintainer: Prokopchuukk<prokopchu.u.k.k@gmail.com>
Standards-Version: 4.5.1
Build-Depends: debhelper (>=9)

Package: mp
Architecture: any
Description: Simple Hello World program
