Package: mp-dbgsym
Package-Type: ddeb
Source: mp
Version: 1.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Prokopchuukk<prokopchu.u.k.k@gmail.com>
Installed-Size: 27
Depends: mp (= 1.1)
Section: debug
Priority: optional
Description: debug symbols for mp
Build-Ids: b918da75c84ddce047f8a73d2168581cc521b437
